@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

$primary-color: #43853d;
$secondary-color: #e0e0e0;

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-size: 62.50%; // 10px
}

body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.8rem;
	line-height: 1.5;
	height: 100vh;
	overflow: hidden;
	background-color: $primary-color;
	color: #fff;
}

.header {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__text {

	}

	&__image {
		width: 50%;
		height: auto;
	}
}

.btn {
	color: #fff;
	border: 0.5rem solid #fff;
	background-color: transparent;
	padding: 1rem 2rem;
	cursor: pointer;
	font-family: inherit;
	display: inline-block;
	transition: transform 0.1s ease-in-out;

	&:active {
		transform: scale(0.9);
		border-style: solid;
	}

	&:focus:not(:active) {
		border-style: dashed;
		outline: none;
	}

	&--cta {
		text-transform: uppercase;
		font-size: inherit;
		font-weight: bold;
		margin-top: 2rem;
	}

	&--control {
		color: $primary-color;
		border-color: $primary-color;

		&:disabled {
			color: $secondary-color;
			border-color: $secondary-color;
			cursor: not-allowed;
		}
	}
}

.main {
	max-width: 60rem;
	margin: 2rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	background-color: #fff;
	color: $primary-color;
	border-radius: 1.5rem;
}

.form {
	width: 100%;
}

.section {
	padding: 5rem;
  display: none;
}

.section.show {
  display: block;
}

.input-group {
	position: relative;

	&:not(:last-of-type) {
		margin-bottom: 3.5rem;
	}

	&__label {
		position: absolute;
		top: 50%;
		left: 0%;
		transform: translateY(-50%);
	}

	&__label span {
		display: inline-block;
		transition: transform .3s ease-in-out;
	}

	&__input {
		-webkit-appearance: none;
  	appearance: none;

		font-family: inherit;
		font-size: 100%;
		color: $primary-color;
		display: block;
		width: 100%;
		padding: 0.4rem;
		outline: none;
		border: none;
		border-bottom: 2px solid $primary-color;

		&:focus + label span {
			transform: translateY(-110%);
		}
	}
}

.translated {
	transform: translateY(-110%);
}

.controls {
	text-align: center;
}

.progress-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	margin-bottom: 3rem;

	&::before {
		content: '';
		background-color: $secondary-color;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		height: 4px;
		width: 100%;
	}

	&__progress {
		background-color: $primary-color;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		height: 4px;
		width: 0%;
		transition: .4s ease;
	}	

	&__circle {
		background-color: #fff;
		color: inherit;
		border-radius: 50%;
		height: 3rem;
		width: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 3px solid $secondary-color;
		transition: .4s ease;
		z-index: 10;

		&.active {
			border-color: $primary-color;
		}
	}
}

.code-container {
	display: flex;
	flex-direction: column;

	&__code {
		font-family: 'Ubuntu Mono', monospace;
  	font-size: inherit;
  	background: #ffeff0;
  	color: $primary-color;
	  padding: .1rem .3rem .2rem;
  	border-radius: .2rem;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		hyphens: none;
		white-space: pre;
	}

	.btn {
		margin-top: 5rem;
	}
}